* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit;
}

.pizza-image-background {
   position: relative;
   background-image: url(media/background_pizza.jpg);
   height: 600px;
   background-position: center;
   background-size: cover;
   opacity: .5;
}
.nav {
   position: absolute;
   top: 0;
   left: 0;
   height: 400px;
   width: 100%;
}

 .nav-menu {
    height: 10vh;
    background: linear-gradient(to bottom, black, 75%, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    font-size: 22px;
    opacity: .7;
 }

 .nav-menu-list {
    display: flex;
    justify-content: center;
    padding-left: 20px;
 }



 .nav-menu-list li {
    list-style: none;
    padding-right: 50px;
    
 }
 .nav-menu-list li a {
    text-decoration: none;
    color: white;
    opacity: 1;

 }

 .logo {
   display: flex;
   justify-content: center;
   margin: 10vh 0;
   font-size: 70px;

 }

 .btn-app {

  margin-right: 40px;
  background-color: white;
  width: 11vw;
  height: 8vh;
  font-size: 17px;
  font-weight: bold;
  color: orangered;
  border: none;
  border-radius: 10px;
  transition: .4s ease;
  cursor: pointer;
 }

 .btn-app:hover {
  background-color: orangered;
  color: white;
  
 }

 .nav-menu-meal {
   display: flex; 
   justify-content: space-around;
 }

 .pizza-a, .kebab-a, .zapiekanki-a, .desery-a {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   color: black;
   text-decoration: none;
   height: 220px;
   width: 200px;
   border-radius: 5%;
   top: 0;
   transition: 1s;

 }

 .pizza-a:hover, .kebab-a:hover, .zapiekanki-a:hover, .desery-a:hover  {
  position: relative;
  top: -40px;
 }
 .icon {
   font-size: 50px;
 }

 .menu-product-name {
   padding-top: 30px;
   font-size: 25px;
 }

 .main {
   margin-top: 20px;
   background-color: rgb(188, 81, 60);
   background: linear-gradient(to right, white, rgb(211, 182, 176), white);
 }

 .days-of-week, .days, .hours {
   display: flex;
   justify-content: center;
 }

 .days-hours {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 20px 0;
 }

 .days, .hours {
   display: flex;
   flex-direction: column;
   padding:  0 20px;
 }
 .additional-info {
  display: flex;
  flex-direction: column;
  
  text-align:  center;
 }

 .dowoz a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
  padding: 0 10px;
 }

 .footer {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  background-color: rgb(92, 43, 24);
  color: rgb(255, 224, 147);

 }

 .footer-list li a {
  text-decoration: none;
  color: rgb(255, 224, 147);
 }
 .adres-telefon li a, li span {
  text-decoration: none;
  color: rgb(226, 168, 42);
 }

 .footer-list li, .adres-telefon li{

  list-style: none;
 }
